body{
	background: url("https://c4.wallpaperflare.com/wallpaper/748/631/716/puppy-cute-dog-dachshund-wallpaper-preview.jpg") no-repeat center fixed;
	background-size: cover;
	margin: 0px;
}
.flex-container{
	background-color: white;
	display: flex;
	margin: 0 auto;
}
.wrapper1 , .wrapper2 , .wrapper3{
	width: 1200px;
	margin: 0 auto;
}
.f1 , .f2{
	display: inline;
}
h1{
	display: inline;
	font-size: 38px;
}
ul{
	list-style-type: none;
	display: inline;
	float: right;
}
li{
	display: inline;
	margin-left: 20px;
}
.flex-container2{
	display: flex;
	margin: 0 auto;
}
.nonusa-div{
	display: flex;
	background-color: darkblue;
	color: white;
	width: 150px;
	float: right;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.cart-img{
	width: 25px;
	height: 25px;
	margin: 12px 20px;
}
.p1{
	font-size: 18px;
}
.p2{
	color: white;
	font-size: 25px;
	text-align: center;
	margin: 150px auto;
}
.left_div{
	width: 300px;
	height: 450px;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	display: grid;
	position: absolute;
}
.h2_1{
	text-align: center;
	color: green;
}
hr{
	width: 33.33%;
	background-color: green;
	height: 1px;
}
.p3{
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.btn1{
	margin: 50px 25%;
	border-radius: 20px;
	background-color: navy;
	color: white;
	border:0px;
	width: 50%;
	height: 25px;
}
.ul2{
	display: flex;
	margin-top: 0px;
	margin-bottom: 50px;
}
.outerdiv{
	display: grid;
	background-color: white;
	width: 220px;
	border-radius: 25px;
	margin-left: 50px;
}
.bluediv{
	background-color: #00bcd4;
	border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
h5{
	text-align: center;
}
.img3{
	margin: 20px auto;
}
.btn2{
	border:0px;
	border-radius: 20px;
	background-color: #bbd196;
	color: white;
	margin: 0 auto;
	width: 100px;

}
.btn3{
	border: 0px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 20px;
	background-color: #1f4068;
	color: white;
	width: 100px;
}
.flex-container3{
	display: flex;
	margin: 0 auto;
	background-color: #dfd3c3;
}
.h2_4{
	display: inline-block;
	font-size: 30px;
	color: black;
	margin-top: 60px;
}
.ul3{
	display: flex;
}
.li3{
	margin-top: 50px;
	padding-left: 100px;
	font-size: 18px;
	color: black;
}











@media screen and (max-width: 1012px)
{
	.wrapper1 , .wrapper2{
		width: 100%;
	}
	h1{
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	ul{
		display: block;
		text-align: center;
		padding-left: 0px;
		float: none;
	}
	li{
		font-size: 11px;
		margin: 0 10px;
	}
	.p2{
		font-size: 20px;
	}
	.nonusa-div{
		width: 100px;
	}
	.cart-img{
		width: 15px;
		height: 15px;
		margin: 12px 15px;
	}
	.p1{
		font-size: 12px;
	}
	.left_div{
		width: 150px;
		height: 250px;
		background-color: white;
		border-radius: 20px;
		padding: 20px;
		margin: auto;
	}
	.h2_1{
		text-align: center;
		color: green;
	}
	hr{
		width: 33.33%;
		background-color: green;
		height: 1px;
	}
	.p3{
		font-size: 12px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.btn1{
		margin: 10px 15%;
		border-radius: 20px;
		background-color: navy;
		color: white;
		border:0px;
		width: 75%;
		height: 15px;
	}
	.ul2{
	display: block;
	margin-top: 0px;
	margin-bottom: 50px;
}
.outerdiv{
	display: grid;
	background-color: white;
	width: 220px;
	border-radius: 25px;
	margin-left: 50px;
}
.bluediv{
	background-color: #00bcd4;
	border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
h5{
	text-align: center;
}
.img3{
	margin: 20px auto;
}
.btn2{
	border:0px;
	border-radius: 20px;
	background-color: #bbd196;
	color: white;
	margin: 0 auto;
	width: 100px;

}
.btn3{
	border: 0px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 20px;
	background-color: #1f4068;
	color: white;
	width: 100px;
}
	.flex-container3{
		display: flex;
		margin: 0 auto;
		background-color: #dfd3c3;
	}
	.h2_4{
		font-size: 30px;
		display: block;
		color: black;
		text-align: center;
		margin-top: 60px;
	}
	.ul3{
		display: grid;
		text-align: center;
	}
	.li3{
		padding: 0px;
		margin-top: 50px;
		font-size: 18px;
		color: black;
	}
}





















